src/User.API/User.API.csproj.user
src/User.API/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/User.API/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/User.API/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/User.API/obj/Debug/netcoreapp2.1/User.API.AssemblyInfo.cs
src/User.API/obj/Debug/netcoreapp2.1/User.API.AssemblyInfoInputs.cache
src/User.API/obj/Debug/netcoreapp2.1/User.API.assets.cache
src/User.API/obj/Debug/netcoreapp2.1/User.API.csproj.CoreCompileInputs.cache
src/User.API/obj/Debug/netcoreapp2.1/User.API.csproj.FileListAbsolute.txt
src/User.API/obj/Debug/netcoreapp2.1/User.API.csprojAssemblyReference.cache
src/User.API/obj/Debug/netcoreapp2.1/User.API.dll
src/User.API/obj/Debug/netcoreapp2.1/User.API.pdb
src/User.API/obj/Debug/netcoreapp2.1/User.API.RazorAssemblyInfo.cache
src/User.API/obj/Debug/netcoreapp2.1/User.API.RazorAssemblyInfo.cs
src/User.API/obj/Debug/netcoreapp2.1/User.API.RazorTargetAssemblyInfo.cache
src/User.API/obj/project.assets.json
src/User.API/obj/User.API.csproj.nuget.cache
src/User.API/obj/User.API.csproj.nuget.g.props
src/User.API/obj/User.API.csproj.nuget.g.targets
.vs/Finbook/DesignTimeBuild/.dtbcache
.vs/Finbook/v15/.suo
.vs/Finbook/v15/Server/sqlite3/db.lock
.vs/Finbook/v15/Server/sqlite3/storage.ide
.vs/Finbook/v15/Server/sqlite3/storage.ide-shm
.vs/Finbook/v15/Server/sqlite3/storage.ide-wal
src/User.API/bin/Debug/netcoreapp2.1/User.API.deps.json
src/User.API/bin/Debug/netcoreapp2.1/User.API.dll
src/User.API/bin/Debug/netcoreapp2.1/User.API.pdb
src/User.API/bin/Debug/netcoreapp2.1/User.API.runtimeconfig.dev.json
src/User.API/bin/Debug/netcoreapp2.1/User.API.runtimeconfig.json
