src/User.API/User.API.csproj.user
.vs/Finbook/DesignTimeBuild/.dtbcache
.vs/Finbook/v15/.suo
.vs/Finbook/v15/Server/sqlite3/db.lock
.vs/Finbook/v15/Server/sqlite3/storage.ide
.vs/Finbook/v15/Server/sqlite3/storage.ide-shm
.vs/Finbook/v15/Server/sqlite3/storage.ide-wal
/src/User.API/obj/*
/src/User.API/bin/*

/src/User.API.UnitTests/obj/Debug/netcoreapp2.1
/src/User.API.UnitTests/bin/Debug/netcoreapp2.1
src/User.API.UnitTests/obj/project.assets.json
src/User.API.UnitTests/obj/User.API.UnitTests.csproj.nuget.cache
src/User.API.UnitTests/obj/User.API.UnitTests.csproj.nuget.g.props
src/User.API.UnitTests/obj/User.API.UnitTests.csproj.nuget.g.targets
/src/BuildingBlocks/Resilience/Resilience.Http/bin/Debug/netcoreapp2.1
/src/BuildingBlocks/Resilience/Resilience.Http/obj
/src/Identity.API/bin/Debug/netcoreapp2.1
/src/Identity.API/obj
/src/Ocelot.API/bin/Debug/netcoreapp2.1
/src/Ocelot.API/obj
/src/BuildingBlocks/ServiceDiscovery.Consul/bin/Debug/netcoreapp2.1
/src/BuildingBlocks/ServiceDiscovery.Consul/obj
/src/Contact.API/bin/Debug/netcoreapp2.1
/src/Contact.API/obj
/src/BuildingBlocks/EventBus/EventBus/bin/Debug/netstandard2.0
/src/BuildingBlocks/EventBus/EventBus/obj
/src/BuildingBlocks/EventBus/EventBus.RabbitMQ/bin/Debug/netstandard2.0
/src/BuildingBlocks/EventBus/EventBus.RabbitMQ/obj
/src/MiscSamples/RabbitMQ/HelloWorld/RabbitMQ.Consumer/bin/Debug/netcoreapp2.1
/src/MiscSamples/RabbitMQ/HelloWorld/RabbitMQ.Consumer/obj
/src/MiscSamples/RabbitMQ/HelloWorld/RabbitMQ.Publisher/bin/Debug/netcoreapp2.1
/src/MiscSamples/RabbitMQ/HelloWorld/RabbitMQ.Publisher/obj
/src/MiscSamples/RabbitMQ/Pubish-Subscribe-direct/EmitLogDirect/bin/Debug/netcoreapp2.1
/src/MiscSamples/RabbitMQ/Pubish-Subscribe-direct/EmitLogDirect/obj
/src/MiscSamples/RabbitMQ/Pubish-Subscribe-direct/ReceiveLogDirect/bin/Debug/netcoreapp2.1
/src/MiscSamples/RabbitMQ/Pubish-Subscribe-direct/ReceiveLogDirect/obj
/src/MiscSamples/RabbitMQ/Pubish-Subscribe-fanout/EmitLog/bin/Debug/netcoreapp2.1
/src/MiscSamples/RabbitMQ/Pubish-Subscribe-fanout/EmitLog/obj
/src/MiscSamples/RabbitMQ/Pubish-Subscribe-fanout/ReceiveLog/bin/Debug/netcoreapp2.1
/src/MiscSamples/RabbitMQ/Pubish-Subscribe-fanout/ReceiveLog/obj
/src/MiscSamples/RabbitMQ/Publish-Subscribe-topic/EmitLogTopic/bin/Debug/netcoreapp2.1
/src/MiscSamples/RabbitMQ/Publish-Subscribe-topic/EmitLogTopic/obj
/src/MiscSamples/RabbitMQ/Publish-Subscribe-topic/ReceiveLogsTopic/bin/Debug/netcoreapp2.1
/src/MiscSamples/RabbitMQ/Publish-Subscribe-topic/ReceiveLogsTopic/obj
/src/MiscSamples/RabbitMQ/RPC/RPCClient/bin/Debug/netcoreapp2.1
/src/MiscSamples/RabbitMQ/RPC/RPCClient/obj
/src/MiscSamples/RabbitMQ/RPC/RPCServer/bin/Debug/netcoreapp2.1
/src/MiscSamples/RabbitMQ/RPC/RPCServer/obj
/src/MiscSamples/RabbitMQ/WorkQueue/NewTask/bin/Debug/netcoreapp2.1
/src/MiscSamples/RabbitMQ/WorkQueue/NewTask/obj
/src/MiscSamples/RabbitMQ/WorkQueue/Worker/bin/Debug/netcoreapp2.1
/src/MiscSamples/RabbitMQ/WorkQueue/Worker/obj
/src/MiscSamples/MediatR/CQRSSample/bin/Debug/netcoreapp2.1
/src/MiscSamples/MediatR/CQRSSample/obj
/src/Projects/Projects.API/bin/Debug/netcoreapp2.2
/src/Projects/Projects.API/obj
/src/Projects/Projects.Domain/bin/Debug/netstandard2.0
/src/Projects/Projects.Domain/obj
/src/Projects/Projects.Infrastructure/bin/Debug/netstandard2.0
/src/Projects/Projects.Infrastructure/obj
/src/Contact.API/bin/Debug/netcoreapp2.2
/src/Contact.API/bin/Debug/netcoreapp2.2
/src/User.API.UnitTests/obj/Debug/netcoreapp2.2
/src/BuildingBlocks/Resilience/Resilience.Http/bin/Debug/netstandard2.0
/src/BuildingBlocks/Resilience/Resilience.Http.DependencyInjection/bin/Debug/netstandard2.0
/src/BuildingBlocks/Resilience/Resilience.Http.DependencyInjection/obj
/src/Recommend.API/bin/Debug/netcoreapp2.2
/src/Recommend.API/obj
/src/User.API.UnitTests/bin/Debug/netcoreapp2.2
/src/BuildingBlocks/Zipkin/Zipkin.Extensions/bin/Debug/netstandard2.0
/src/BuildingBlocks/Zipkin/Zipkin.Extensions/obj
/src/Identity.API/bin/Debug/netcoreapp2.2
