src/User.API/User.API.csproj.user
.vs/Finbook/DesignTimeBuild/.dtbcache
.vs/Finbook/v15/.suo
.vs/Finbook/v15/Server/sqlite3/db.lock
.vs/Finbook/v15/Server/sqlite3/storage.ide
.vs/Finbook/v15/Server/sqlite3/storage.ide-shm
.vs/Finbook/v15/Server/sqlite3/storage.ide-wal
src/User.API/obj
src/User.API/bin

